{% extends 'base.html' %}


{% block content %}
    {% if email %}
        <h3>Found this...</h3>
        Email: {{ email }}
        PW: {{ password }}
        <h5>on the db there is:</h5>
        name: {{ user.name }}<br/>
        email: {{ user.email }}<br/>
        PW: {{ user.password }}<br/>
        passed: {{ passed }}
    {% else %}  
        <form method="POST">
        <p>Log in...</p>

        <br/>
        <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.email.label(class='form-label') }}
        {{ form.email(class='form-control')}}
        <br/>

        {{ form.password.label(class='form-label') }}
        {{ form.password(class='form-control') }}
        <br/>

        <div class="text-center pt-1 mb-5 pb-1">
            {{ form.submit(class='btn btn-warning')}}
            <br/>
        </div>
        <br/>
        </form>
        </form>
    {% endif %}

{% endblock %}